# {{{zdlModel.config.title}}}
{{~#if zdlModel.javadoc}}

{{{zdlModel.javadoc}}}
{{~/if}}
{{~#each zdlModel.services as |service|}}

## <a name="service_{{service.name}}"></a> {{service.name}}
{{~#if service.javadoc}}

{{{service.javadoc}}}
{{~/if}}

```plantuml
@startuml
class {{service.name}}  << service >> {
{{~#each service.methods as |method|}}
{{~#each (methodAnnotations method) as |annotation|}}
    {{{annotation}}}
{{~/each}}
    {{method.name}}({{methodParamsSignature method}}): {{methodReturnType method}}{{#if (methodEvents method)}} withEvents {{methodEvents method}}{{/if}}
{{~/each}}
}
@enduml
```

{{#each service.aggregates as |aggregates|}}
{{~assign "aggregate" (lookup zdlModel.aggregates this)}}
{{~assign "entity" (lookup zdlModel.entities aggregate.aggregateRoot)}}
### <a name="aggregate_{{aggregate.name}}"></a> {{aggregate.name}}
```plantuml
@startuml
{{> (partial 'aggregateClass.plantuml') aggregate=aggregate }}
{{aggregate.name}} *--down- {{entity.name}}
{{> (partial 'entityClass.plantuml') entity=entity stereotype='aggregate' }}

{{~#each (entityAssociations entity) as |association|}}
    {{association.source}} {{association.linkType}}down- {{association.entity.name}}
{{~/each}}
{{~#each (associationTargets (entityAssociations entity)) as |relatedEntity|}}
    {{~#if (eq relatedEntity.type 'enums')}}
    {{> (partial 'enumClass.plantuml') enum=relatedEntity }}
    {{~else}}
    {{> (partial 'entityClass.plantuml') entity=relatedEntity }}
    {{~/if}}
{{~/each}}
@enduml
```

{{~assign "aggregateLifecycle" (aggregateLifecycleStateMachine aggregates)}}
{{~#if aggregateLifecycle}}

#### Lifecycle (Aggregate)

```plantuml
{{{aggregateLifecycle}}}
```
{{~/if}}

{{~assign "entityServiceLifecycle" (entityServiceLifecycleStateMachine service entity)}}
{{~#if entityServiceLifecycle}}

#### Lifecycle (Service transitions)

```plantuml
{{{entityServiceLifecycle}}}
```
{{~/if}}
{{/each}}

{{assign "inputs" (serviceInputs service)}}
{{#if inputs}}
### <a name="inputs"></a> {{service.name}} Command Inputs

```plantuml
@startuml
    {{~#each inputs as |entity|}}
        {{> (partial 'entityClass.plantuml') stereotype=entity.type }}
    {{~/each}}
    {{~#each (collectionAssociations inputs) as |association|}}
        {{association.source}} {{association.linkType}}down- {{association.entity.name}}
    {{~/each}}
    {{~#each (associationTargets (collectionAssociations inputs)) as |relatedEntity|}}
        {{~#if (eq relatedEntity.type 'enums')}}
        {{> (partial 'enumClass.plantuml') enum=relatedEntity }}
        {{~else}}
        {{> (partial 'entityClass.plantuml') entity=relatedEntity }}
        {{~/if}}
    {{~/each}}
@enduml
```
{{/if}}

{{assign "outputs" (serviceOutputs service)}}
{{#if outputs}}
### <a name="outputs"></a> {{service.name}} Command Outputs

```plantuml
@startuml
    {{~#each outputs as |entity|}}
{{> (partial 'entityClass.plantuml') stereotype=entity.type }}
    {{~/each}}
    {{~#each (collectionAssociations outputs) as |association|}}
        {{association.source}} {{association.linkType}}down- {{association.entity.name}}
    {{~/each}}
    {{~#each (associationTargets (collectionAssociations outputs)) as |relatedEntity|}}
        {{~#if (eq relatedEntity.type 'enums')}}
        {{> (partial 'enumClass.plantuml') enum=relatedEntity }}
        {{~else}}
        {{> (partial 'entityClass.plantuml') entity=relatedEntity }}
        {{~/if}}
    {{~/each}}
@enduml
```
{{/if}}


{{assign "events" (serviceEvents service)}}
{{#if events}}
### <a name="events"></a> {{service.name}} Domain Events

```plantuml
@startuml
    {{~#each events as |entity|}}
{{> (partial 'entityClass.plantuml') stereotype=entity.type }}
    {{~/each}}
    {{~#each (collectionAssociations events) as |association|}}
        {{association.source}} {{association.linkType}}down- {{association.entity.name}}
    {{~/each}}
    {{~#each (associationTargets (collectionAssociations events)) as |relatedEntity|}}
        {{~#if (eq relatedEntity.type 'enums')}}
        {{> (partial 'enumClass.plantuml') enum=relatedEntity }}
        {{~else}}
        {{> (partial 'entityClass.plantuml') entity=relatedEntity }}
        {{~/if}}
    {{~/each}}
@enduml
```
{{/if}}


{{/each~}}
